version: 2.1

jobs_defaults: &DEFAULTS
  working_directory: ~/msg

jobs:
  build:
    <<: *DEFAULTS    
    docker:
      - image: circleci/node:10.16.3
    steps: 
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run: npm run build
      - store_artifacts:
          path: public
          prefix: build
  deploy:
    <<: *DEFAULTS
    machine:
      enabled: true
    steps:
      - run: ls -la
      - run:
          name: Deploy Over SSH
          command: |
            scp -r public/* public/.* $SSH_USER@$SSH_HOST:/var/www/msg

workflows:
  version: 2.1
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master

